.banner {
	display: flex;
    align-items: center;
    justify-content: center;
	height: 100vh;
}

.banner__texto {
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}
